<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    /> -->

    <style>
      body {
        font-family: "montserrat";
      }

      .header {
        display: flex;
        align-items: center;
        padding-left: 10px;
        justify-content: left;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

      .header img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }

      .header .text {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
      }

      .header .text h1 {
        margin: 0;
        font-size: 24px;
      }

      .header .text h3 {
        margin: 0;
        font-weight: 600;
      }

      .image {
        height: 100%;
        width: 100px;
      }

      th {
        /* border-bottom: 2px solid #696c71;
            border-top: 2px solid #696c71; */
        text-align: left;
        width: 100%;
      }

      td {
        width: 100%;
      }

      .container {
        background-color: #fbfbfb;
        padding: 30px;
        border-radius: 15px;
        box-shadow: inset;
        --tw-shadow-color: #d4d4d8;
      }

      .max-w-screen-xl {
        max-width: 600px;
      }

      .mx-auto {
        margin-left: auto;
        margin-right: auto;
      }

      .flex {
        width: 100%;
        display: flex;
      }

      .justify-between {
        justify-content: space-between;
      }

      .items-center {
        align-items: center;
      }

      .gap-2 {
        gap: 0.5rem;
      }

      .text-3xl {
        font-size: 1.875rem;
      }

      .font-bold {
        font-weight: 700;
      }

      .text-gray-800 {
        color: #2d3748;
      }

      .border-b {
        border-bottom-width: 1px;
        border-bottom-color: #e2e8f0;
      }

      .text-left {
        text-align: left;
      }

      .font-semibold {
        font-weight: 600;
      }

      .mb-8 {
        margin-bottom: 2rem;
      }

      .w-14 {
        width: 25%;
        display: flex;
      }

      .w-34 {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0 1rem;
      }

      .text-xl {
        font-size: 1.25rem;
      }

      .min-w-full {
        min-width: 100%;
      }

      .py-2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      .text {
        display: block;
      }

      .text-left {
        text-align: left;
      }

      .text-right {
        text-align: right;
      }

      .border-gray-800 {
        border-color: #2d3748;
      }

      .border-b {
        border-bottom-width: 1px;
      }

      .border-t {
        border-top-width: 1px;
      }

      .head {
        font-weight: 600;
        font-size: x-large;
      }

      .dec {
        padding: 2px;
      }

      .color {
        background-color: #e2e8f0;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
      }

      th,
      td {
        padding: 20px;
        text-align: left;
        border: none;
        /* Menghapus border dari sel tabel */
      }

      .block-table tbody {
        display: block;
      }

      .block-table tr {
        display: block;
        flex-wrap: wrap;
        margin-bottom: 10px;
      }

      .block-table td {
        display: block;
        flex: 1 1 50%;
        padding: 5px;
        text-align: left;
      }

      /* Gaya untuk tombol dropdown */
      .dropbtn {
        background-color: #e2e8f0;
        color: black;
        padding: 3px 30px;
        border-radius: 5px;
        font-size: 16px;
        border: none;
        transition: background-color 0.3s, color 0.3s;
        cursor: pointer;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.039);
      }

      .dropbtn:hover {
        background-color: #cbd5e0;
        color: #2d3748;
      }

      #arrow {
        margin-left: 10px;
        transition: transform 0.3s;
      }
    </style>
  </head>

  <body>
    <div class="max-w-screen-xl mx-auto container">
      <header class="header">
        <img src="cid:0" alt="Logo" />
        <div class="text">
          <h1>Keraton Kesepuhan Cirebon</h1>
          <h3>Invoice</h3>
        </div>
      </header>
      <main style="width: 100%">
        <div class="flex gap-2">
          <section class="w-34">
            <img src="cid:1" alt="Embedded Image" height="300px" />
            <div>
              <h2 class="text-xl font-semibold text-gray-800">Bill To:</h2>
              <table class="block-table">
                <tbody>
                  <tr>
                    <td class="text-gray-600">Name:</td>
                    <td>
                      <span class="font-semibold"> <%= name %> </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-gray-600">Email:</td>
                    <td>
                      <span class="font-semibold"> <%= email %> </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-gray-600">Invoice:</td>
                    <td>
                      <span class="font-semibold"> <%= nomor_invoice %> </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-gray-600">Date:</td>
                    <td>
                      <span class="font-semibold"> <%= date %> </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
        <section>
          <table class="min-w-full" style="margin-top: 50px">
            <thead class="color">
              <tr>
                <th class="py-2 px-4 text-gray-800">Description</th>
                <th class="py-2 px-4 text-right text-gray-800 dec">Quantity</th>
                <th class="py-2 px-4 text-right text-gray-800">Price</th>
                <th class="py-2 px-4 text-right text-gray-800">Total</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0 ; i < invoices.length; i++) { %>
              <tr>
                <td><%= invoices[i].item_desc %></td>
                <td class="text-right"><%= invoices[i].quantity %></td>
                <td class="text-right"><%= invoices[i].price %></td>
                <td class="text-right"><%= invoices[i].total %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </section>
      </main>
      <footer class="border-t" style="width: 100%; padding-top: 20px">
        <div class="text-right">
          <p class="text-gray-600" style="padding: 5px">
            Subtotal: <span class="font-semibold"> <%= subtotal %> </span>
          </p>
          <p class="text-gray-600" style="padding: 5px">
            Tax: <span class="font-semibold"> <%= tax %> </span>
          </p>
          <p class="text-gray-600 color" style="padding: 5px">
            Total: <span class="font-semibold"> <%= total %> </span>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
